.more-screen .icon-row {
    margin-top: 50px;
}

.screen-header__icons {
    text-decoration: none;
}
.more-suggestions {
    margin-top: 50px;
    border-top: var(--main-border);
    padding-top: 40px;
}

.more-suggestions__title {
    margin-bottom: 30px;
    font-size: 20px;
}

.more-suggestions__icons {
    display: flex;
    justify-content: space-between;
    
}

.more-suggestions__icon {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.more-suggestions__icon-image {
    width: 60px;
    height: 60px;
    background-color: var(--yellow);
    opacity: 0.7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


.more-suggestions__icon-image i{
    font-size: 32px;
    color: white;
}

.more-suggestions__icon-text {
    font-size:12px;
}

.tree {
    background-color: tomato;
}

.gifts {
    background-color: teal;
}

.adad { 
    background-color: wheat;
    opacity: 1;
}