#no-mobile{
    position: absolute;
    z-index: 99;
    height: 100vh;
    background-color: var(--yellow);
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    top:0;
    font-weight: 800;
    justify-content: space-between;
    animation: snow 10s infinite;
}

@keyframes pleasescreenshort { 
    from {
        transform: scale(0);
    }
    to {
        transform: scale(2);
    }
}

.short_screen1 .short_screen2 {
    animation: pleasescreenshort 2s infinite;
}

@media screen and (max-width:645px){
    #no-mobile {
        display: none;
    }
}


