.status-bar {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    /*내가 padding 을 주더라도 전체 박스 사이즈를 키우지 말라는 명령어임*/
    width: 100%;
}
.status-bar {
    display: flex;
    justify-content: center;
    padding:10px 10px;
}
.status-bar__column {
    width:100%;
}
.status-bar__column:first-child span {
    margin-right: 5px;
}

.status-bar__column:nth-child(2) {
    display: flex;
    justify-content: center;
}
.status-bar__column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.status-bar__column .fa-battery-full{
    margin:0px 5px;
}